.table {

    thead th {
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 0;
    z-index: 1;    }

    thead th:first-child {
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 0;
    z-index: 10;
    }

    tbody th {
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 0;
    z-index: 1;
    }

    tbody th:first-child {
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 0;
    z-index: 1;
    background: whitesmoke;
    }

    tbody td {
        padding: 0;
    }

    tbody tr {
    text-align: center;
    }  
    
}